$background: #636363;
$backgroundHover: #878585;
$backgroundEven: #858585;
$backgroundEvenHover: #9f9e9e;
$backgroundHighlight: #435a85;
$backgroundHighlightEven: #596c8f;
$backgroundHighlightHover: #5573aa;
$backgroundHighlightEvenHover: #7790bd;

table {
  color: white;
  width: 100%;
  table-layout: fixed;
}

td {
  text-align: center
}

th, td {
  padding: 5px 10px
}

table, td, td {
  border-collapse: collapse;
  border: 1px solid lightgray;
}

body {
  background: silver;
}

tr {
  background-color: $background;

  &:hover {
    background: $backgroundHover;
  }
}

tr:nth-child(even) {
  background-color: $backgroundEven;

  &:hover {
    background-color: $backgroundEvenHover;
  }
}

thead tr {
  background-color: $backgroundEven;
}

tr.selected {
  border: 34px solid brown;
}

td.highlight {
  background-color: $backgroundHighlight;
}

tr:nth-child(even) {
  td.highlight {
    background-color: $backgroundHighlightEven;
  }
}

tr:hover {
  &:nth-child(even) {
    td.highlight {
      background-color: $backgroundHighlightEvenHover
    }
  }
  td.highlight {
    background-color: $backgroundHighlightHover;
  }
}

tr.selected {
  border: 5px solid white;
}